Repository DevLab-umontp/InvisibilityCloak, pull requests merged in 2021-03, with the labels that each got.

#21 Little change, message Help.java
  src/main/java/fr/umontpellier/iut/commandes/Help.java
Labels: Expérience utilisateur, Mise à jour de commande

#23 🚑 Correction problème de connexion à la BD
  pom.xml
  src/main/java/fr/umontpellier/iut/GestionnaireEvents.java
  src/main/java/fr/umontpellier/iut/bd/BaseDonnee.java
  src/main/java/fr/umontpellier/iut/commandes/send/Send.java
Labels: bug-fix, optimisation

#25 📝 Ajout des templates pour les issues
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/---bug-report.md
  .github/ISSUE_TEMPLATE/---question.md
  .github/ISSUE_TEMPLATE/---signaler-un-probl-me-sur-la-documentation.md
  .github/ISSUE_TEMPLATE/--demande-d-ajout-d-une-documentation-.md
  .github/ISSUE_TEMPLATE/--id-e-de-fonctionnalit-.md
Labels: documentation

#27 📝 Ajout rubrique : mot des contributeurs
  README.md
Labels: documentation
